@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #d8d8d8;
}

.seperator {
  margin-top: 100px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}
