#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // max-width: 1180px;
  // min-width: 1180px ;
  z-index: 100;
  background-color: rgb(83,83,83);
  display: flex;
  justify-content: center;
  > ul {
    padding: 26px 0;
    display: flex;

    > li {
      list-style: none;
      margin: 0 20px;
      position: relative;
      &::after {
        transition: width 0.4s;

        position: absolute;
        content: "";
        display: inline-block;
        height: 1px;
        width: 0%;
        background-color: #fff;
        left: 0;
        bottom: 0;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
      a {
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

#gioithieu {
  .information {
    display: flex;
    justify-content: space-between;
    .infor {
      flex: 3;
      color: #fff;
      &_name {
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 770;
      }
      &_position {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 4px;
        opacity: 0.8;
      }
      &_another {
        margin-top: 12px;
        display: flex;
        ul {
          li {
            margin-top: 12px;
            list-style: none;
          }
        }
        .title {
          font-weight: bold;
          margin-right: 50px;
        }
      }
      &_website {
        i.icon {
          transition: 1s;
          padding: 6px;
          font-size: 20px;
          color: #03a662;
          background-color: white;
          margin-right: 12px;
          margin-top: 12px;
          &:hover {
            transform: rotate(360deg)
          }
        }
      }
    }
    .avatar {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      > img {
        height: 220px;
        object-fit: contain;
      }
    }
  }
}


#education, #experience {
  margin-top: 25px;

  .title-text {
    margin-bottom: 18px;
    font-size: 26px;
    text-align: center;
  }
}


#experience {
  margin-top: 50px;
}