#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #535353;
  display: flex;
  justify-content: center;
}

#header > ul {
  padding: 26px 0;
  display: flex;
}

#header > ul > li {
  list-style: none;
  margin: 0 20px;
  position: relative;
}

#header > ul > li::after {
  transition: width 0.4s;
  position: absolute;
  content: "";
  display: inline-block;
  height: 1px;
  width: 0%;
  background-color: #fff;
  left: 0;
  bottom: 0;
}

#header > ul > li:hover::after {
  width: 100%;
}

#header > ul > li a {
  color: #fff;
  cursor: pointer;
}

#gioithieu .information {
  display: flex;
  justify-content: space-between;
}

#gioithieu .information .infor {
  flex: 3;
  color: #fff;
}

#gioithieu .information .infor_name {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 770;
}

#gioithieu .information .infor_position {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  opacity: 0.8;
}

#gioithieu .information .infor_another {
  margin-top: 12px;
  display: flex;
}

#gioithieu .information .infor_another ul li {
  margin-top: 12px;
  list-style: none;
}

#gioithieu .information .infor_another .title {
  font-weight: bold;
  margin-right: 50px;
}

#gioithieu .information .infor_website i.icon {
  transition: 1s;
  padding: 6px;
  font-size: 20px;
  color: #03a662;
  background-color: white;
  margin-right: 12px;
  margin-top: 12px;
}

#gioithieu .information .infor_website i.icon:hover {
  transform: rotate(360deg);
}

#gioithieu .information .avatar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#gioithieu .information .avatar > img {
  height: 220px;
  object-fit: contain;
}

#education, #experience {
  margin-top: 25px;
}

#education .title-text, #experience .title-text {
  margin-bottom: 18px;
  font-size: 26px;
  text-align: center;
}

#experience {
  margin-top: 50px;
}
