@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #535353;
  display: flex;
  justify-content: center;
}

#header > ul {
  padding: 15px 0;
  display: flex;
}

#header > ul > li {
  list-style: none;
  margin: 0 20px;
  position: relative;
}

#header > ul > li::after {
  transition: width 0.4s;
  position: absolute;
  content: "";
  display: inline-block;
  height: 1px;
  width: 0%;
  background-color: #fff;
  left: 0;
  bottom: 0;
}

#header > ul > li:hover::after {
  width: 100%;
}

#header > ul > li a {
  color: #fff;
  cursor: pointer;
}

#header > ul .active::after {
  width: 100%;
}

#header .percent-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background-color: #03a662;
  height: 5px;
}

#gioithieu .information {
  display: flex;
  justify-content: space-between;
}

#gioithieu .information .infor {
  flex: 3;
  color: #fff;
}

#gioithieu .information .infor_name {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 770;
}

#gioithieu .information .infor_position {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  opacity: 0.8;
}

#gioithieu .information .infor_another {
  margin-top: 12px;
  display: flex;
}

#gioithieu .information .infor_another ul li {
  margin-top: 12px;
  list-style: none;
}

#gioithieu .information .infor_another .title {
  font-weight: bold;
  margin-right: 50px;
}

#gioithieu .information .infor_website i.icon {
  transition: 1s;
  padding: 6px;
  font-size: 20px;
  color: #03a662;
  background-color: white;
  margin-right: 12px;
  margin-top: 12px;
}

#gioithieu .information .infor_website i.icon:hover {
  transform: rotate(360deg);
}

#gioithieu .information .avatar {
  order: 2;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#gioithieu .information .avatar > img {
  height: 220px;
  object-fit: contain;
}

#education,
#experience,
#skills,
#project {
  margin-top: 25px;
}

#education .title-text,
#experience .title-text,
#skills .title-text,
#project .title-text {
  margin-bottom: 18px;
  font-size: 26px;
  text-align: center;
}

#skills {
  background-color: #535353;
  color: #fff;
  margin-top: 30px;
  padding: 20px 0 50px 0;
}

#skills .skill {
  display: flex;
  justify-content: space-between;
}

#skills .skill .border {
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
  display: none;
}

#skills .skill-technical, #skills .skill-language {
  flex-basis: 280px;
}

#skills .skill-technical > div, #skills .skill-language > div {
  margin-top: 15px;
}

#skills .skill .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#skills .skill .text .percent {
  font-size: 14px;
  opacity: 0.6;
}

#skills .skill .progress-bar {
  width: 100%;
  position: relative;
  height: 5px;
  background-color: #fff;
  border-radius: 16px;
  z-index: 20;
  overflow: hidden;
}

#skills .skill .progress {
  border-radius: 16px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 30;
  background-color: #ff7979;
}

#project {
  margin-top: 0;
  padding: 20px 0;
}

#project .proj {
  margin-top: 25px;
}

#project table {
  margin-top: 12px;
  width: 50%;
}

#project table th {
  text-align: left;
  padding-left: 12px;
}

#project table td {
  padding-left: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #d8d8d8;
}

a {
  text-decoration: none;
}

.seperator {
  margin-top: 67px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.card {
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  background: #fff;
  margin: 10px 0;
}

.bg-green {
  background-color: #03a662 !important;
}

.wrapper-timeline {
  position: relative;
}

.wrapper-timeline .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
}

.wrapper-timeline .center-line .scroll-icon {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}

.wrapper-timeline .row {
  display: flex;
}

.wrapper-timeline .row.row-1 {
  justify-content: flex-start;
}

.wrapper-timeline .row.row-1 section .icon {
  top: 0;
  right: -60px;
}

.wrapper-timeline .row.row-1 section::before {
  right: -5px;
}

.wrapper-timeline .row.row-2 {
  justify-content: flex-end;
}

.wrapper-timeline .row.row-2 section .icon {
  top: 0;
  left: -60px;
}

.wrapper-timeline .row.row-2 section::before {
  left: -5px;
}

.wrapper-timeline .row section {
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}

.wrapper-timeline .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 3.5px;
  z-index: -1;
  transform: rotate(45deg);
}

.wrapper-timeline .row section .details {
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.425);
}

.wrapper-timeline .row section .details,
.wrapper-timeline .row section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-timeline .row section .details,
.wrapper-timeline .row section .title {
  font-size: 22px;
  font-weight: 600;
}

.wrapper-timeline .row section p {
  margin: 0;
}

.wrapper-timeline .row section .bottom a {
  text-decoration: none;
  background: #ff7979;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}

.wrapper-timeline .row section .bottom a:hover {
  transform: scale(0.97);
}

.wrapper-timeline .row section .icon,
.wrapper-timeline .center-line .scroll-icon {
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ff7979;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

@media (max-width: 790px) {
  .wrapper-timeline .center-line {
    left: 25px;
  }
  .wrapper-timeline .row {
    margin: 30px 0 3px 60px;
  }
  .wrapper-timeline .row section {
    width: 100%;
  }
  .row-1 section::before {
    left: -7px;
  }
  .row-2 section .icon,
  .row-1 section .icon {
    top: 0 !important;
    left: -50px !important;
    right: unset !important;
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
  }
}

table,
th,
td {
  border: 1px solid black;
}

@media (max-width: 768px) {
  #gioithieu .information {
    display: block;
  }
  #gioithieu .information .avatar {
    justify-content: center;
    margin-bottom: 10px;
  }
  #gioithieu .information .avatar > img {
    border-radius: 50%;
    height: 125px;
    width: 125px;
    object-fit: cover;
  }
  #gioithieu .information .infor_position,
  #gioithieu .information .infor_name {
    text-align: center;
  }
  #gioithieu .information .infor_another {
    align-items: flex-start;
  }
  #gioithieu .information .infor_website {
    text-align: center;
  }
  #experience {
    padding: 0 20px;
  }
  #education {
    padding: 0 20px;
  }
  #skills {
    padding: 20px 20px 30px 20px;
  }
  #skills .skill {
    display: block;
  }
  #skills .border {
    display: block !important;
    margin-top: 25px;
  }
  #project {
    padding: 20px;
  }
  #project table {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .wrapper-timeline .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }
  .wrapper-timeline .row {
    margin: 10px 0;
  }
}

@media (max-width: 375px) {
  #gioithieu .card {
    padding: 14px;
  }
  #gioithieu li .title {
    margin-right: 15px !important;
    font-size: 14px !important;
  }
}
